* {
    -fx-font-family: 'Varela Round';
    -fx-alignment: center;
}

#title{
      -fx-font-size: 4em;

}

#container{
   -fx-background: #99FFCC;
    -fx-pref-width: 500px;
    -fx-padding: 75px;
    -fx-spacing: 20px;
  -fx-border-width: 4px;
  -fx-border-style: solid;
  -fx-border-color: black;
  -fx-border-radius: 4px;


    }

.text{
}

#dices{
    -fx-spacing: 10px;
    -fx-font-size: 15px;

}

button:active{
    -fx-background-color: brown;
}

#playbutton:hover{
      -fx-border-color: blue;
}

.button{

  -fx-border-width: 3px;
  -fx-border-style: solid;
  -fx-border-color: black;
  -fx-background-color: white;
  -fx-text-fill: Black;
  -fx-fill-width: true;
  -fx-cursor: pointer;
  -fx-font-size: 10px;
}

#scoreboard{
     -fx-alignment: center;
      }



#playbutton{
      -fx-border-radius: 6px;
      -fx-border-width: 2px;
      -fx-border-style: solid;
      -fx-border-color: black;
      -fx-background-color: none;
      -fx-text-fill: Black;
      -fx-fill-width: true;
      -fx-cursor: pointer;
      -fx-padding: 10px 10px 10px 10px;
      -fx-font-size: 15px;
}